@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap')

body
    margin: 0
    padding: 0

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    box-sizing: border-box
    display: grid
    background: var(--color-gray)

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif

:root
    --color-black: #101010
    --color-white: #fff
    --color-gray: #EAEAEA
    --color-yellow: #FFA542
    --color-gray-large: #838383
    --rgba-gray: rgba(51, 51, 51, 0.5)

    --shadow-black: 0px 0px 20px rgba(0, 0, 0, 0.1)
