.baner
    display: flex
    justify-content: center
    align-items: center
    background: var(--color-black)
    box-shadow: var(--shadow-black)
    border-radius: 30px
    margin: 0px 0px 44px

    &__body
        display: grid
        align-items: center
        color: var(--color-white)
        padding: 58px 0px 65px
        position: relative
        width: 100%

    &__pick
        position: absolute
        right: 14rem
        bottom: -20px
        justify-self: start

    &__text
        max-width: 643px
        font-weight: 600
        font-size: 30px
        line-height: 37px
        text-align: center
